.box-header .input-group.input-group-sm  button{
  height: 40px;
  margin: 22px 0;
  width: 100px;
  font-size: 16px;
}
.pull-right a{
  font-size: 16px;
  padding: 10px;
}
.btn{
  font-size: 16px;
}
.table>tbody>tr>td{
  font-size: 16px;
}
.content-header>.breadcrumb>li>a{
  font-size: 16px;
}
.sidebar-menu li a:hover svg path{
  fill: #fff;
}
.user-panel>.info>p{
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table.table-font > tbody > tr > td{
  font-size: 11px;
}