body.tela-login {
    background: #ccc !important;
}
.container.admin-central{
    background: #021c9a !important;
    width: 100% !important;
    margin-top: 0px !important;
}
.container.centro-home{
    width: 66%;
    border-radius: 10px;
    padding: 10px 27px 10px;
    margin: 76px 34px 30px 309px !important;
}
.form-control.buscar-botao {
    width: 63% !important;
}
.desenvolvedor p {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}
.desenvolvedor a {
    color: #873ad8;
    text-decoration: none;
}
.desenvolvedor a:hover {
    color: #d00f28;
    font-weight: 900;
}