.box-header .input-group.input-group-sm button {
  height: 40px;
  margin: 22px 0;
  width: 100px;
  font-size: 16px; }

.pull-right a {
  font-size: 16px;
  padding: 10px; }

.btn {
  font-size: 16px; }

.table > tbody > tr > td {
  font-size: 16px; }

.content-header > .breadcrumb > li > a {
  font-size: 16px; }
